.info{background:#3498db}
.success{background:#27ae60}
.redirect{background:#9b59b6}
.client{background:#c0392b}
.server{background:#2c3e50}
.maintenance{background:#f39c12}
.container{margin:auto 0;width:100%}
.info{min-height:100vh;position:relative}
.tbl{display:table;height:100vh;width:100%}
.cll{display:table-cell;vertical-align:middle;margin:0 auto;color:#ecf0f1;text-align:center}
.cll h1{font-size:64px}
